@keyframes cambioColor {
    0% {
        background: #b93f3f;
    }
    50% {
        background: #247a4a;
    }
    100% {
        background: #277fa5;
    }
}

#transition {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    animation: cambioColor 5s infinite alternate;
    padding: 20px 10px;
    border-radius: 20px;
    margin: 20px;
}

body {
    background-color: #d3e9fc;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
input {
    width: 63%;
}
p {
    display: inline-block;
    width: fit-content;
    font-family: sigmar;
    background-color: #d3e9fc;
    padding: 2px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}
label {
    color: white;
    font-weight: bold;
}
button {
    margin: 10px;
    background-color: pink;
}
#upside-down-face {
    width: 150px;
    position: relative;
    left: 31%;
    transform: rotate(90deg);
}
#footer {
  font-family: smooch sans;
  border: none;
  position: absolute;
  bottom: 0%;
  left: 11%;
  line-height: .5;
}
.miniatura {
  position: relative;
  left: 45%;
  display: inline-block;
  font-size: 5px;
}