@keyframes cambioColor {
    0% { background: #B93F3F; }
    50% { background: #247A4A; }
    100% { background: #277FA5; }
}

#transition {
  justify-items: center;
  height: fit-content;
  width: fit-content;
  animation: cambioColor 5s infinite alternate;
  padding: 20px;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}